* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  overflow: hidden;
  background: #242424;
}

.zui {
  transition-property: transform;
  transition-duration: 0.5s;
  height: 100%;
  background: #404040;
  transform-origin: center;
  color: #fff;
  font-family: sans-serif;
}

h1, p {
  margin-bottom: 2vmin;
}

a {
  color: #639FFF;
}

.level-2 .left {
  font-size: 9vh;
}

.zui.no-transition {
  transition-property: none;
  transition-duration: 0;
}

.inner-zui {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-flow: column wrap;
}

.bottom-wrapper {
  display: flex;
  flex-flow: row nowrap;
  flex: 1;
}

.zui .top {
  height: 15vh;
  background: #242424;
  margin-bottom: 2vmin;
  font-size: 9vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top, .right {
  -webkit-user-select: none;
  user-select: none;
}

.top .title {
  margin-left: 2vmin;
}

.top .up {
  text-align: right;
  cursor: pointer;
  margin-right: 2vmin;
  transition-property: opacity;
  transition-duration: 0.25s;
}

.level-2 .up, .level-3 .up {
  opacity: 0;
}

.zui .left {
  background: #242424;
  flex: 2 3 auto;
  margin-right: 2vmin;
  padding: 2vmin;
}

.zui.level-3 .left {
  width: 100%;
  margin-right: 0;
}

.zui .right {
  min-width: calc(60vw + 1.8vmin);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
}

.zui.level-3 .right {
  min-width: 0;
}

.sub-zui {
  margin-right: 0.6vmin;
  margin-bottom: 0.6vmin;
  border: #242424 0.4vmin solid;
  border-top: none;
}

.sub-zui, iframe, .cover {
  height: 20vh;
  width: 20vw;
}

.cover {
  background-color: #242424;
}

.cover.transparent {
  opacity: 0;
}

.cover.loaded {
  animation-duration: 0.5s;
  animation-name: fade-to-transparent;
  opacity: 0;
}

@keyframes fade-to-transparent {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

iframe, .cover {
  position: absolute;
}

iframe {
  border: 0;
  background-color: #242424;
}

iframe.parent {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.right .right > .zui {
  height: 4vh;
  width: 4vw;
}

.target {
  transform: translate(-778px, 465px) scale(5);
  transform-origin: center;
}
